
:root {
    --main-color: #3B82F6;
    --black: #434656;
    --grey: #E2E8F0;
    --dark-grey: #8D8D8D;
    --white: #F6F9FF;
    --secundary-color-light: #EC486A;
    --secundary-color-dark: #AE003C;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    grid-template: 25% 1fr / 1.13fr 4fr;
}

header {
    background-color: var(--white);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#top p {
    margin: 0;
}

#top div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: 0;
    background-color: var(--grey);
    border-radius: 2em;
    min-height: 3.5vh;
    width: 40rem;
    outline: none;
}

#profileContainer {
    display: flex;
    padding: 0.7em 2em 0 0;
    font-weight: bold;
}

#profilepictop {
    width: 8vh;
    height: 8vh;
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
}

#bottom div {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#small {
    font-size: 0.9em;
    margin: 0 0 0.5em 0;
}

#large {
    font-size: 1.5em;
    margin: 0;
}

#profilepicbottom {
    width: 11vh;
    height: 11vh;
    margin: 0 1em 0 0;
}

#buttons {
    gap: 30px;
}

#buttons button {
    color: var(--white);
    background-color: var(--main-color);
    border: 0;
    padding: 1em 2em;
    border-radius: 2em;
    font-weight: bold;
    cursor: pointer;
}

#buttons button:hover{
    background-color: #0162ff;
    transition: 100ms linear;
}

#sidebar {
    background-color: var(--main-color);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

#sidebarHero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    padding-top: 1em;
    font-size: 0.8em;
}

#sidebarHero img {
    width: 9vh;
    height: 9vh;
}

#sidebarHero h1 {
    padding-left: 0.5em;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
}

.icons img {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

ul{
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: fit-content;
}

li a {
    padding-left: 0.7em;
}

a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: var(--white);
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 30%;
    padding: 1em 0 2em 1em;
    box-shadow: inset 0px 8px 11px -3px rgba(0,0,0,0.1);
}

#mainContent {
    height: 1fr;
    padding-right: 1em;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.card {
    background-color: var(--white);
    border-radius: 0.7em;
    padding: 2em 1.5em 1em 1.5em;
    cursor: pointer;
    box-shadow: inset 507px 0px 0px -500px var(--secundary-color-light), 8px 9px 11px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 1rem;
    padding-bottom: 0.7em;
}

.card-icons img {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

#announcements div, #trending div {
    box-shadow: 8px 9px 11px -3px rgba(0,0,0,0.1);
}

#sideContent {
    height: 1fr;
}

#announcements {
    padding-right: 1.7em;
    cursor: pointer;
}

#announcements div {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 2.5em;
    border-radius: 0.7em;
}

#announcements .divider {
    height: 1px;
    width: 100%;
    padding: 0;
    background-color: var(--dark-grey);
}

#announcements h1, #trending h1, #mainContent > h1 {
    font-size: 1.5em;
    color: black;
}

#announcements div h1, .content h1 {
    color: black;
    font-size: 1.1em;
    margin: 0;
}

#announcements div p, #trending div p, .content p {
    color: var(--dark-grey);
    margin: 0;
}

#trending {
    padding: 1em 1.7em 0 0;
}

#trending div {
    background-color: var(--white);
    padding: 2em 1.5em;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

#trending div span img {
    height: 8vh;
    width: 8vh;
}

#trending div h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#trending div span span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#trending div span {
    display: flex;
    column-gap: 17px;
    cursor: pointer;
}