/* TODO:
adicionar animação e sombra no hover dos links da sidebar
adicionar sombra no header
adicionar sombra nos cards
adicionar animação e sombra no hover dos botoes
*/

:root {
    --main-color: #3B82F6;
    --black: #434656;
    --grey: #E2E8F0;
    --white: #F6F9FF;
    --secundary-color-light: #EC486A;
    --secundary-color-dark: #AE003C;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#container {
    height: 100vh;
    display: grid;
    grid-template: 25% 1fr / 1.13fr 4fr;
}

header {
    background-color: var(--white);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#top p {
    margin: 0;
}

#top div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: 0;
    background-color: var(--grey);
    border-radius: 2em;
    min-height: 3.5vh;
    width: 40rem;
    outline: none;
}

#profileContainer {
    display: flex;
    padding: 0.7em 0 0 0;
}

#profilepictop {
    width: 8vh;
    height: 8vh;
}

#bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom div {
    display: flex;
    align-items: center;
}

#profilepicbottom {
    width: 11vh;
    height: 11vh;
}

#sidebar {
    background-color: var(--main-color);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

#sidebarHero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    padding-top: 1em;
    font-size: 0.8em;
}

#sidebarHero img {
    width: 9vh;
    height: 9vh;
}

#sidebarHero h1 {
    padding-left: 0.5em;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
}

.icons img {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

ul{
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: fit-content;
}

li a {
    padding-left: 0.7em;
}

a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: var(--white);
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 25%;
}

#sideContent {
    height: 1fr;
}

#mainContent {
    height: 1fr;
}